<div class="repository">
    <div class="repository__name">
        {{name}}
    </div>
    <div class="repository__branch">
        Branch: {{currentBranch}}
    </div>
    <div class="repository__action-button">
        <button class="repository__expose-button primary">
            Expose project
        </button>
    </div>
</div>
