.grid-auto-fill {
    --grid-item-width: 100px;
    --grid-gap: 10px;

    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--grid-item-width, 200px), 1fr)
    );
    gap: var(--grid-gap, 10px);
    margin: 0 auto;
}
